@import "../utilidades/mixin";
@import "../utilidades/reset";

header{
    @include header-footer($height:11vh);
    position: sticky;
    top: 0;
    .menu{
        nav{
            ul{
                list-style: none;
                display: flex;
                justify-content:flex-end;
                padding-right: 20px;
                gap: 20px;
                li{
                    a {
                        font-size: 1.5rem;
                        text-decoration: none;
                        color: $font-color-h1;
                    }
                }
            }
        }
    }
}

footer {
    background-color: $background-tres; 
    padding: 2rem 1rem; 
    
    div {
        p {
            font-size: 1.2rem;
            padding: 1rem 0;
            text-transform: uppercase;
            color: aliceblue;
            margin: 0;
        }

        a {
            color: rgb(175, 211, 242);
            text-decoration: none;
        }
    }

    .inf-footer {
        display: flex;
        justify-content: space-between; /* Coloca los divs a la izquierda y derecha */
        align-items: flex-start; /* Alinea el contenido superiormente */
        padding-top: 1rem;

        .left, .right {
            flex: 1;
            p {
                text-transform: none; /* No capitalizar, para que sea más legible */
                margin-bottom: 0.5rem;
                font-size: 1rem;
            }
        }
    }
}
