
//colores de fondo

$background-uno:rgb(4,16,36);
$background-dos:rgb(51,69,111,);
$background-tres:rgb(22,32,68);

//color font

$font-color-h1:rgb(225,237,237);
$font-color-span:rgb(154,165,170);

//media qry index 

$font-size-h1: 2.5rem;
$font-size-h2: 1.5rem;
$font-size-span: 1.5rem;
$font-size-especial: 1.3rem;
$font-size-small: 16px;
$small-img-size: 50px;
$wsp-img-width: 50px;